body
{
    background-image: url('https://gozoop.com/gz-projects/aliya/simplyfresh/img/3.png');
    background-size: cover;
    background-repeat: no-repeat; 
    font-family: "elza", sans-serif;
}





.containerSF
  {
        background-color: rgb(225, 222, 222);
        color: black;
        position: relative;
        background-position: top;
        padding-top: 20px;
        padding-bottom: 20px;
 }

#simplyFreshNav .navbar-brand img {
    padding-left: 25px;
    width: 125px;
    }

#simplyFreshNav .sf-nav-menu {
        text-align: center;
        margin: auto;
        background: rgb(245 245 245 / 56%);
        border-radius: 20px;
        padding: 5px 45px 1px 45px;
        color: black;
        }

        .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .show>.nav-link {
            color: #000;
            }
        .sf-nav-menu a{
color: black;
        }

#simplyFreshNav .sf-nav-menu a:hover {
            font-weight: bolder;
            color: #000;
            }

.content-banner
{
        font-weight: 400;
        align-items: left;
        margin: 2.5em 0 2em 0;
        gap: 2em;
        top: 200px;
        color: #fff;
        position: relative;
        z-index: 2;
       
        
        }
        @media screen and (min-width: 960px)
        {
            .content-banner {
                width: 40%;
                padding-left: 5em;
                margin-bottom: 0;
                }
        }

        /* Navbar for mobile */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    background-color: #275322;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:center;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
    text-align: left;
  
  }
  
  .sidenav a:hover{
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
        position: absolute;
      top: 20px;
      right: 20px;
      font-size: 50px;
      margin-left: 50px;
  }
  
  .navbar-toggler:focus
  {
      box-shadow:none;
  }
  
  
  .homeNavMobile
  {
  padding-top: 60px !important;
  }
  
  .sidenav a.active
  {
    color: #EB2B36;  
  }

  .navbar-dark .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1);
    }

    .head2{
        font-size: 38px;
        color: red;
        font-weight: bolder;
        padding-top: 50px;
    }
    .pp{
        position: relative;
        font-size: 28px;
        color: white;
        margin-top: 200px;
        left: 30px;
        font-weight: bolder;

    }
    .nee{
        position: absolute;
        height: 350px;
        width: 550px;
    }
    .text3{
        font-size: 18px;
        padding-top: 30px;

    }
    .text22{
        text-align: right;
        font-size: 18px;
        color: black;
        text-decoration: none;
        margin-left: 430px;
        font-weight: bolder;
    }

    .cl10{
        position: relative;
        width: 100%;
        
    }

    .footerSection{
        background-image: url("https://gozoop.com/gz-projects/aliya/simplyfresh/img/end.jpeg");
         position: absolute;
         width: 100%;
         height: 220px;
         margin-top: 0px;
         background-size: cover;
         background-repeat: no-repeat;
     }
     
     .locate{
         position: relative;
         color: white;
         font-size: 20px;
         left: 0px;
         
         font-weight: bolder;
     }
     
     .add{
         position: relative;
         color: white;
         font-size: 12px;
         left: 0px;
         
         
     }
     .add a{
         text-decoration: none;
         color: white;
     }
     
     .ft-social-icons ul li a {
         border: 1px solid #ffffff;
         color: #eb2b36;
        
         padding: 10px 13px 8px 10px;
         border-radius: 50px;
         height: 41px;
         display: block;
         width: 41px;
         background: #fff;
         }

         .ft-social-icons ul li{
             margin-right: 4px;
             display: flex;
         }
         .ft-social-icons ul {
            display: flex;
            }
     
         .linkk a{
             position: relative;
             color: white;
             font-size: 12px;
             left: 0px;
              
             text-decoration: none;
             padding: 5px;
         }

         .container2{
            padding-top: 50px;
            padding-left: 50px;
        }

        .conatiner2 ul{
            
            z-index: 4;
            position: relative;
        }
        .ft-inner-content{
            position: relative;
        }

         .ft-social-icons ul {
            width: 20px;
            height: 20px;
            list-style: none;
            padding-left: 10px;
        }

        .fa-lg {
            font-size: 1.25em;
            line-height: .05em;
            vertical-align: -.075em;

            
            }
            .title-stories h2 {
                font-size: 40px;
                color: #EB2B36;
                font-weight: 700;
            }
            
            .stories-Data {
                padding-top: 20px;
            }
            
            .stories-Data .card-img-overlay {
                top: inherit;
            }
            
            .stories-Data .card-title {
                font-size: 30px;
                font-weight: 700;
                text-align: right;
                text-decoration: none;
            }
            
            .stories-Data .text-bg-dark {
                color: #fff !important;
                background-color: transparent !important;
                border: none;
                margin: 20px;
            }
            
            .readMore {
                text-align: right;
            }
            
            .readMore a {
                text-decoration: none;
                color: #000;
                font-weight: 700;
                font-size: 18px;
            }
            
            .readMore a:hover {
                text-decoration: none;
                color: #EB2B36;
            
            }
            
            .content-sort {
                margin: 20px;
            }
            
            .sub-title-h4 {
                font-size: 35px;
                padding-top: 15px;
                padding-bottom: 15px;
            }
            
            .sub-title-p {
                font-size: 25px;
                padding-top: 0px;
                padding-bottom: 15px;
            }
            
            .form-control {
                height: 55px;
                border-radius: 50px;
            
            }
            
            
            textarea.form-control {
                height: 55px;
                border-radius: 20px;
                height: 150px;
                font-size: 1rem;
            }
            
            .form-control:focus {
                box-shadow: none;
                border-color: #dc3545;
            }
            
            button.btn-click-here {
                border: 1px solid #eb2b36;
                background: #EB2B36;
                color: #fff;
                padding: 8px 35px 4px 35px;
                border-radius: 30px;
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 500;
                letter-spacing: 1px;
            }
            
            button.btn-click-here:hover {
                border: 1px solid #cf1620;
                background: #cf1620;
                color: #fff;
            }
            
            select.form-control {
                color: rgb(88 88 88);
            }
            
            .product-summary h4 {
                font-weight: 700;
            }
            
            
            .product-details-desc h2 {
                font-size: 35px;
                font-weight: 700;
            }
            
            .product-details-desc {
                padding-top: 30px;
                padding-bottom: 20px;
            }
            
            .product-details-desc p {
                font-size: 18px;
                font-weight: 300;
            }
            
            .product-summary {
                padding-top: 10px;
            }
            
            .stories-leftDiv p {
                font-size: 27px;
                font-family: "elza", sans-serif;
                font-weight: 300;
            }
            
            .stories-leftDiv .share-now {
                text-align: right;
                padding-top: 0;
            }
            
            a.btn-share-story {
                border: 1px solid #eb2b36;
                background: #EB2B36;
                color: #fff;
                padding: 8px 15px 4px 15px;
                border-radius: 30px;
            
                text-transform: uppercase;
                font-size: 15px;
                font-weight: 500;
                letter-spacing: 1px;
            }
            
            a.btn-share-story:hover {
                border: 1px solid #eb2b36;
                background: #cf1620;
                color: #fff;
            }
            
            .inner-link-right {
                text-align: right;
                padding-top: 20px;
            }
            
            #shareYourStoriesForm{
                padding-top: 50px;
                padding-bottom: 50px;
            }
    